# Created by .ignore support plugin (hsz.mobi)
.idea
.gradle
.allure
build
video
out
allure-results
.DS_Store

# Project gen files
.idea
.allure/
.gradle/
allure-results/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat